{% extends 'main/base.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="about">
<h1 class="logo" > <img src="{% static 'main/img/s.png' %}" width="38px" alt=""><b>Stech</b>
</h1>

<p>Мы занимаемся продажей и обслуживанием спецтехники в России с 2008 года</p>
<p>Компания является официальным диллером таких марок как Hyundai, BobCat, Xcmg, Камаз.</p>
<p>Расширенная гарантия на представлена на все модели представленные нашей компанией</p>
<p>Мы подберем индивидуальные условия покупки для каждого клиента</p>
<p></p>
<br>
</div>
<div class="about2">
    <h2>Наш адресс:</h2>
    <ul>
        <li>г.Кросноярск</li>
        <li>Ул.Федора 18 "А"</li>
        <li>т. 8(800) 888 8888</li>

    </ul>

</div>


{% endblock %}