{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="gl-index">
<div class="gl-str">

<h1>Добро пожаловать в <b>Stech</b>!</h1>
<br>
<p>Мы поможем вам найти спецтехнику для любых задач</p>
<div class="gl-str1">
    <p>Наши сонсультанты помогут сделать вам правильнй выбор</p>
    
    <p>Позвоните нам по номеру 8 (800) 888-8888 </p>
    
    <p>или оставьте свой номер телефона</p>
    <p> наш специалист свяжется с Вами.</p>
    <br>
    

</div>
</div>
{% endblock %}